.header{
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.5em;
  margin-bottom: 10px;
  color: white;
}

.postdate{
  text-align: center;
}

.posttitle{
  font-family: 'Fira Sans', sans-serif;
  font-size: 3em;
  text-align: center;
}

.postcontent{
  font-family: 'PT Serif', serif;
  font-size: 1.5em;
}

.bigbrand{
  font-size: 1.5em;
}

.centerstage{
  margin-left: auto;
  margin-right: auto;
}
