
<p>Posted by: <strong>{{ comment.user }}</strong></p>
<p>{{ comment.text|safe|linebreaks }}</p>
<div class="date">
  {{ comment.created_date }}
</div>

<a class="btn btn-default btn-sm" href="{% url 'comments:comment_liked' pk=comment.pk %}">
  <span class="glyphicon glyphicon-thumbs-up"></span>
  {{comment.likes}}
</a>
<a class="btn btn-default btn-sm" href="{% url 'comments:comment_disliked' pk=comment.pk %}">
  <span class="glyphicon glyphicon-thumbs-down"></span>
  {{comment.dislikes}}
</a>
<hr>
