{% extends "posts/post_base.html" %}

{% block prepost%}
    <h1 class='posttitle'>{{ post.title }}</h1>
    <h4>By:
      <a href="{%url 'posts:user_post_list' username=post.author.username %}">
        {{post.author.username}}
      </a>
    </h4>
    <h6>Category: <a href="#">{{post.category}} </a> </h6>
    {% if post.published_date %}
        <div class="date postdate">
          Published On:  {{ post.published_date }}
        </div>

    {% else %}
        <a class="btn btn-primary" href="{% url 'posts:post_publish' pk=post.pk %}">Publish</a>
      <a class="btn btn-default" href="{% url 'posts:post_edit' pk=post.pk %}">Edit</a>
    {% endif %}
{% endblock %}
{% block post_content %}

  <div class="centerstage ">
    <p class="postcontent">{{post.text|safe|linebreaksbr}}</p>
  </div>

{% endblock %}

{% block post_post%}
<hr>
<a class="btn btn-primary btn-comment" href="{% url 'comments:create' post_pk=post.pk %}">Add comment</a>
<div class="container">

  <div class="centerstage">
    <div class="col-md-8">
      {% for comment in post.post_comments.all %}
      <br>
          {% include "comments/_comment.html" %}
      {% empty %}
          <p>No comments posted.</p>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
